@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    Welcome to the Jurbarkas Tourism Center website! We are thrilled to introduce you to our beautiful town located in the western part of Lithuania.
</p>

<p>
    Jurbarkas is a small but charming town, rich in history and culture. Our town is situated on the banks of the Nemunas River, which adds even more beauty to our picturesque surroundings. Jurbarkas has a long and fascinating history, dating back to the 14th century. The town was once a significant center of trade and commerce, and today it remains an essential hub for our region.
</p>

<p>
    The Jurbarkas Tourism Center is dedicated to promoting and showcasing all that our town has to offer. Our goal is to make your visit to Jurbarkas an unforgettable experience. We offer a wide range of services, including guided tours, accommodation, and recommendations for local restaurants and bars. Our team is made up of knowledgeable and enthusiastic locals who are passionate about sharing their town with visitors.
</p>

<p>
    When visiting Jurbarkas, there are many attractions that you will not want to miss. You can explore the Jurbarkas Castle, which dates back to the 16th century and has a rich and storied history. You can also take a walk along the Nemunas River and enjoy the beautiful scenery. Jurbarkas is also home to several museums, such as the Jurbarkas Regional Museum, which features exhibits on the town's history and culture.
</p>

<p>We hope that you will find our website informative and helpful as you plan your visit to Jurbarkas. Please do not hesitate to contact us if you have any questions or need assistance. We look forward to welcoming you to our beautiful town!</p>

<hr/>
<h3>Pictures</h3>
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://jurbarkas.info/wp-content/uploads/2018/08/panemun%C4%97s-pilis.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://jurbarkas.info/wp-content/uploads/2018/08/Raudon%C4%97s-pilis.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://jurbarkas.info/wp-content/uploads/2019/08/Veliuonos-piliakalniai-7.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>